@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Oswald:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

:root{
  --center:center;
  --width:100%;
 
 }

body{
  width: var(--width);
  height: 100vh;
  background-image: url('./assets/pexels-maxyne-barcel-10402282\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
 }


 .container{
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--width);
  background: rgba(8, 8, 67, 0.6);
}

.list{
  list-style-type: none;
  color: rgb(183, 150, 22);
}

li{
  display: inline-block;
  margin: 20px;
  font-size: 1.1rem;
}
.list li:hover{
  color: aliceblue;
}

.navbar{
 display: flex;
 justify-content: space-between;
 align-items: var(--center);
 padding-left: 6.5%;
 padding-right: 6.5%;
 padding-top: 1%;
}

.hero{
  position: relative;
  top: 3rem;
  text-align: center;
}

.hero-heading{
  font-size: 7rem;
  color: rgb(193, 160, 14);
  font-weight: bold;
  width: var(--width);
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 0px 4px 4px orange;
  letter-spacing: 6px;

}

.button-large{
  padding: 10px 28px;
  margin: 4px 5px;
  background: red;
  font-size: 1.7rem;
  color: #fff;
}
.button-small{
  padding: 5px 13px;
  margin: 2px;
  background: red;
  color: #fff;
  font-size: 1rem;

}

.bottom{
  position: relative;
  left: 40%;
  bottom:5rem;

}